@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.buttonContainer{
    margin-left: 4.3%;
}

.button {
    // width: 195px;
    // height: 48px;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #A854C8;
    border: none;
}
.button:hover{
    background-color:  rgba(125, 117, 206, 1);
    ;
}
.button:focus{
    background-color: rgba(103, 97, 183, 1);
    ;
    border: 2px solid #F845FC;
}

// .disabledButton{
//     width: 114px;
//     height: 64px;
//     color: #C5C0DB;
//     font-family: 'Nunito Sans', sans-serif;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 20px;
//     font-weight: 400;
//     border-radius: 4px;
//     background-color: #F4F3FE;
//     border: none;
// }
